astroid==2.12.13
dill==0.3.6
dnspython==2.3.0
docx==0.2.4
et-xmlfile==1.1.0
future==0.18.3
isort==5.11.4
lazy-object-proxy==1.9.0
lxml==4.9.2
mccabe==0.7.0
mypy==0.991
mypy-extensions==0.4.3
openpyxl==3.0.10
Pillow==9.4.0
platformdirs==2.6.2
pylint==2.15.9
python-docx==0.8.11
python-whois==0.8.0
tomlkit==0.11.6
typing_extensions==4.4.0
wrapt==1.14.1
